---

import { isProd } from '../scripts/utils.js';
---

{isProd() ? (
<iframe class="helloasso-donate-embed" allow="payment" src={Astro.props.helloasso_donate_widget_url} ></iframe>
) : (
<p>Not displaying donate box in development to avoid bans</p>
)}
