---
import FooterMarkdown from '../../content/main/footer.md';
import SocialMarkdown from '../../content/main/social.md';
---

<footer>
  <address class="footer-info"><FooterMarkdown /></address>
  <br />
  <nav class="footer-social"><SocialMarkdown /></nav>
</footer>
