---
import FooterMarkdown from '../../content/main/footer.md';
import SocialMarkdown from '../../content/main/social.md';
---

<footer>
  <div class="footer-info"><FooterMarkdown /></div>
  <br />
  <nav class="footer-social"><SocialMarkdown /></nav>
</footer>
